<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.mapper.OrderMapper">
    <resultMap id="order" type="main.model.Order">
        <id property="id" column="id"/>
        <result property="patientId" column="patientId"/>
        <result property="date" column="date"/>
        <collection property="orderItems" ofType="main.model.OrderItem">
            <result property="orderId" column="id"/>
            <result property="medicineServiceId" column="medicineServiceId"/>
        </collection>
    </resultMap>
    <select id="selectAllOrders" resultMap="order">
        select
        "order"."patientId",
        "date",
        "order"."id",
        "medicineService"."name",
        "orderItem"."medicineServiceId"
        from "order"
        join "orderItem" on "order"."id"="orderItem"."orderId"
        join "medicineService" on "medicineServiceId"="medicineService"."id";
    </select>
    <insert id="insertOrder" parameterType="main.model.Order">
        <selectKey order="BEFORE" keyProperty="id" resultType="integer">
            select nextval('orderIdSequence');
        </selectKey>
        insert into "order" values (#{patientId}, #{date}, #{id});
        <foreach collection="orderItems" item="orderItem">
            insert into "orderItem" values (#{orderItem.medicineServiceId}, #{id});
        </foreach>
    </insert>
    <delete id="deleteOrder">
        delete from "order" where "id"=#{id};
    </delete>
    <update id="updateOrder" parameterType="main.model.Order">
        update "order" set
        "date"=#{date},
        "patientId"=#{patientId}
        where "id"=#{id};
    </update>
    <select id="selectOrderById" resultMap="order">
        select
        "order"."patientId",
        "date",
        "order"."id",
        "medicineService"."name",
        "orderItem"."medicineServiceId"
        from "order"
        join "orderItem" on "order"."id"="orderItem"."orderId"
        join "medicineService" on "medicineServiceId"="medicineService"."id"
        where "order"."id"=#{id};
    </select>
</mapper>